<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HRManagementDBConnStr"
			connectionString="server=(local);database=HRManagement;integrated Security=SSPI"
			 providerName="System.Data.SqlClient" />
	
		<add name="AzureSQLConnStr"
		connectionString="server=hrmanager.database.windows.net;database=HRManagement;User ID=hrmanager;Password=&12345qwer;integrated Security=SSPI"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>